<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  
  <%- include('./partials/navbar.ejs') %>

  <div class="launches-container">

    <%- include('./partials/launch-data.ejs') %>

  </div>
  

</body>
</html>