<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <style>
    nav{
      background-color: transparent;
    }
    nav.logo img{
      max-width: 14rem;
    }
  </style>
</head>
<body>
  <header>
    <%- include('./partials/launch-nav.ejs') %>
    <main>
      <div class="feature">
        <p>Lançamento Recente</p>
        <h2>Missão Starlink</h2>
        <a class="veja-mais" href="/launches">Veja Mais</a>
      </div> 
    </main>
  </header>

</body>
</html>